<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTTP 422 Unprocessable Entity</title>
    <style>
        body {
          margin: 0;
        }
        .center {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
        }
      </style>
</head>
<body>
    <div class="content-section">
        <h1>HTTP 422 Unprocessable Entity</h1>
        <p>message</p>
        <p>Please correct file and try again</p>
    </div>
</body>
</html>
