<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Generator</title>
    <style>
        body {
          margin: 10px;
        }
        .center {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
        }
      </style>
</head>
<body>
  <div style="padding:20px" >
  <h1>Report Generator</h1>
  <p>Click submit to consume all files in the external_files folder.</p>
        <form method="POST" action="/"">
            <button>Submit</button>
        </form>
    </div>
</body>
</html>