<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Results</title>
    <style>
        body {
          margin: 10px;
        }
        .center {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
        }
      </style>
</head>
<body>
    <div style="padding:20px" >
        <h1>Upload Results</h1>
        <p>{{ file_name }} processed and moved to archived.</p>
        <hr>
        <h2>Summary Data</h2>
        <p>{{ data1 }}</p>
        <hr>
        <h2>VOC Data</h2>
        <p>{{ data2 }}</p>
    </div>
</body>
</html>